---
---
body {
  background: #FFFFFF;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; }
h3 { font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0; }
h5 { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0; }
h6 { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0; }
p  { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0; }
blockquote  { font-size: 1.8rem; line-height: 1.4;  letter-spacing: 0; }

h1, h2 {
  font-family: Bodoni W01, Georgia, Times New Roman, serif;
  font-weight: normal;
}

h2 {
  color: #84C3D6;
  font-style: italic;
  font-weight: normal;
}

h3 {
  color: #390B50;
  font-weight: normal;
}

a, a:visited, a:hover, a:active {
  color: #84C3D6;
}

#header {
  margin: 3rem 0 0 0;
}

#header h1 a {
  display: inline-block;
  height: 84px;
  overflow: hidden;
  width: 168px;
}

#header h1 a {
  background: url({{ site.baseurl }}/images/logo.png);
  background: url({{ site.baseurl }}/images/logo.svg), linear-gradient(transparent, transparent);
  display: block;
  height: 84px;
  text-align: right;
  text-indent: 100%;
  white-space: nowrap;
  width: 168px;
}
