<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/normalize.css" type="text/css" media="all">
<link rel="stylesheet" href="{{ site.baseurl }}/skeleton.css" type="text/css" media="all">
<link rel="stylesheet" href="{{ site.baseurl }}/stylesheet.css" type="text/css" media="all">
{% include fonts.css %}
{% include fonts.js %}
</head>
<body>
<div class="container">
<header id="header">
<h1><a href="{{ site.baseurl }}/">Mogan + Mogan</a></h1>
<nav id="menu">
<ol>
<li><a href="{{ site.baseurl }}/">Home</a></li>
<li><a href="{{ site.baseurl }}/about">About</a></li>
<li><a href="{{ site.baseurl }}/services">Services</a></li>
<li><a href="{{ site.baseurl }}/testimonials">Testimonals</a></li>
<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
</ol>
</nav>
</header>
<section>
{{ content }}
</section>
<footer>
<p>&copy;{{ site.time | date: "%Y" }} Mogan + Mogan</p>
</footer>
</div>
</body>
</html>
